<form action="#" method="post" class="border border-1 p-3 rounded-custom mb-3 bg-gray-200 rounded-md">
    <div class="row">
        <div class="mb-3 col">
            <div class="mb-3 row">
                <div class="col">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control">
                    <div id="title" class="form-text">Input product title.</div>
                </div>
                <div class="col">
                    <label for="price" class="form-label">Price, $</label>
                    <input type="number" name="price" id="price" class="form-control" min="0">
                    <div id="price" class="form-text">Input product price.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="availability" class="form-label">Availability</label>
                <select name="availability" id="availability" class="form-select">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </div>
        </div>
        <div class="mb-3 col">
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
                <div id="description" class="form-text">Input product description.</div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-between">
        <button type="submit"
            class="btn bg-green-600 btn-sm text-white font-bold"
            hx-post="{% url 'crm_core:hx_add_product' %}"
            hx-target="#products-list"
            hx-swap="innerHTML">
            Submit
        </button>
        <button type="reset" onclick="removeForm(event)" class="btn btn-outline-warning">Cancel</button>
    </div>
</form>