{% extends 'base.html' %}
{% load static %}

{% block title %}
    Products -
{% endblock title %}

{% block additional_links %}
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #htmx-indicator {
            max-width: 100%;
            max-height: 35px;
        }
        .page-link:hover {
            cursor: pointer;
        }
    </style>
{% endblock additional_links %}

{% block content %}
<div class="wrapper"
    x-data="{ showAddProductForm: false }">
    <div class="header m-1">
        <div class="title p-1 text-center font-bold">
            <h1 class="text-5xl">Products</h1>
        </div>
        <div class="searchbar p-2 bg-gray-700 rounded-md d-flex">
            <input type="search" name="search" id="search" placeholder="Begin Typing To Search Product..."
                class="p-2 b-0 rounded-md w-75"
                hx-get="{% url 'crm_core:products_view' %}"
                hx-trigger="keyup changed delay:500ms, search"
                hx-target="#table-body"
                hx-wsap="innerHTML"
                hx-indicator="#htmx-indicator"
                hx-push-url="true"
            >
            <button type="button"
                    class="bg-green-600 btn-sm text-white font-bold ml-auto"
                    @click="showAddProductForm = ! showAddProductForm">
                Add Product
            </button>
        </div>
        <progress class="progress is-small is-primary mt-1 htmx-indicator" id="htmx-indicator" alt="loading..." max="100">15%</progress>
    </div>
    <form id="addProductForm" action="#" class="border border-1 p-3 rounded-custom m-1 bg-gray-200 rounded-md"
        x-show="showAddProductForm">
        <div class="row">
            <div class="mb-3 col">
                <div class="mb-3 row">
                    <div class="col">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" id="title" class="form-control">
                        <div id="title" class="form-text">Input product title.</div>
                    </div>
                    <div class="col">
                        <label for="price" class="form-label">Price, $</label>
                        <input type="number" name="price" id="price" class="form-control" min="0">
                        <div id="price" class="form-text">Input product price.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="availability" class="form-label">Availability</label>
                    <select name="availability" id="availability" class="form-select">
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 col">
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
                    <div id="description" class="form-text">Input product description.</div>
                </div>
            </div>
        </div>
        <input type="hidden" name="page" value="all_products">
        <div class="d-flex justify-content-between">
            <button type="submit"
                class="btn bg-green-600 btn-sm text-white font-bold"
                hx-post="{% url 'crm_core:hx_add_product' %}"
                hx-target="#table-body"
                hx-swap="innerHTML">
                Submit
            </button>
            <button type="reset" class="btn btn-outline-warning"
                @click="showAddProductForm = ! showAddProductForm">
                Cancel
            </button>
        </div>
    </form>

    <div class="main m-1">
        <div class="table-box p-2 bg-gray-200 rounded-md">
            <table class="table table-auto w-full"> 
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>Created At</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% include 'partials/products_table_body.html' %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer p-2 bg-white" style="border-radius: 10px;">
        {% include 'partials/paging_navigation.html' %}
    </div>
</div>
    
{% endblock content %}

{% block javascripts %}
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            page_param = window.location.search;
            urlParams = new URLSearchParams(page_param);
            search_query = document.getElementById('search').value;
            if (evt.detail.path.includes('?page=')) {
                if (search_query !== '') {
                    console.log('append')
                    evt.detail.path += '&search=' + search_query
                }
            }
        });

        document.body.addEventListener('htmx:beforeSwap', function(evt) {
            if(evt.detail.xhr.status === 200){
                let form = document.getElementById('addProductForm');
                form.style.display = 'none';
                form.reset();
                
            }
        });
    </script>
{% endblock javascripts %}